
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
